/* Figma Styles of your File */
:root {
    /* Colors */
    --primary-green-green-85: rgba(0, 112, 60, 0.85);
    --primary-green-light: #e8f3ee;
    --primary-green-light-hover: #ddede5;
    --primary-green-light-active: #b8daca;
    --primary-green-normal: #198754;
    --primary-green-normal-hover: #177a4c;
    --primary-green-normal-active: #146c43;
    --primary-green-dark: #13653f;
    --primary-green-dark-hover: #0f5132;
    --primary-green-dark-active: #0b3d26;
    --primary-green-darker: #092f1d;
    --gradients-gradient-normal: linear-gradient(
            180deg,
            rgba(25, 135, 84, 1) 0%,
            rgba(15, 81, 50, 1) 100%
    );
    --status-red-main: #a82525;
    --status-red-secondary: #ffe8e8;
    --status-red-border: #e2b6b6;
    --status-green-main: #21725e;
    --status-green-secondary: #e7faf5;
    --status-green-border: #b5d0c9;
    --status-yellow-main: #b8a40c;
    --status-yellow-secondary: #fffce8;
    --status-yellow-border: #f6fa98;
    --profile-gray-txt: rgba(31, 31, 31, 0.7);
    --profile-gray-txt-2: rgba(34, 34, 34, 0.9);
    --chatbot-grey-4: #e0e0e0;
    --chatbot-link-text: #1f1f1f;
    --chatbot-button-shade-1: #efeee8;
    --chatbot-grey-2: #a8a8a8;
    --chatbot-grey: #d9d9d9;
    --chatbot-grey-3: #c4c4c4;

    /* Fonts */
    --poppins-h1-font-family: Poppins-Regular, sans-serif;
    --poppins-h1-font-size: 48px;
    --poppins-h1-line-height: 140%;
    --poppins-h1-font-weight: 400;
    --poppins-h1-font-style: normal;
    --poppins-h1-bold-font-family: Poppins-Bold, sans-serif;
    --poppins-h1-bold-font-size: 48px;
    --poppins-h1-bold-line-height: 140%;
    --poppins-h1-bold-font-weight: 700;
    --poppins-h1-bold-font-style: normal;
    --poppins-h2-font-family: Poppins-Regular, sans-serif;
    --poppins-h2-font-size: 40px;
    --poppins-h2-line-height: 140%;
    --poppins-h2-font-weight: 400;
    --poppins-h2-font-style: normal;
    --poppins-h2-bold-font-family: Poppins-Bold, sans-serif;
    --poppins-h2-bold-font-size: 40px;
    --poppins-h2-bold-line-height: 140%;
    --poppins-h2-bold-font-weight: 700;
    --poppins-h2-bold-font-style: normal;
    --poppins-h3-font-family: Poppins-Regular, sans-serif;
    --poppins-h3-font-size: 33px;
    --poppins-h3-line-height: 140%;
    --poppins-h3-font-weight: 400;
    --poppins-h3-font-style: normal;
    --poppins-h3-bold-font-family: Poppins-Bold, sans-serif;
    --poppins-h3-bold-font-size: 33px;
    --poppins-h3-bold-line-height: 140%;
    --poppins-h3-bold-font-weight: 700;
    --poppins-h3-bold-font-style: normal;
    --poppins-h4-font-family: Poppins-Regular, sans-serif;
    --poppins-h4-font-size: 28px;
    --poppins-h4-line-height: 140%;
    --poppins-h4-font-weight: 400;
    --poppins-h4-font-style: normal;
    --poppins-h4-bold-font-family: Poppins-Bold, sans-serif;
    --poppins-h4-bold-font-size: 28px;
    --poppins-h4-bold-line-height: 140%;
    --poppins-h4-bold-font-weight: 700;
    --poppins-h4-bold-font-style: normal;
    --poppins-h5-font-family: Poppins-Regular, sans-serif;
    --poppins-h5-font-size: 23px;
    --poppins-h5-line-height: 140%;
    --poppins-h5-font-weight: 400;
    --poppins-h5-font-style: normal;
    --poppins-h5-bold-font-family: Poppins-Bold, sans-serif;
    --poppins-h5-bold-font-size: 23px;
    --poppins-h5-bold-line-height: 140%;
    --poppins-h5-bold-font-weight: 700;
    --poppins-h5-bold-font-style: normal;
    --poppins-title1-font-family: Poppins-Regular, sans-serif;
    --poppins-title1-font-size: 19px;
    --poppins-title1-line-height: 140%;
    --poppins-title1-font-weight: 400;
    --poppins-title1-font-style: normal;
    --poppins-title1-bold-font-family: Poppins-Bold, sans-serif;
    --poppins-title1-bold-font-size: 19px;
    --poppins-title1-bold-line-height: 140%;
    --poppins-title1-bold-font-weight: 700;
    --poppins-title1-bold-font-style: normal;
    --poppins-title2-font-family: Poppins-Regular, sans-serif;
    --poppins-title2-font-size: 16px;
    --poppins-title2-line-height: 140%;
    --poppins-title2-font-weight: 400;
    --poppins-title2-font-style: normal;
    --poppins-title2-bold-font-family: Poppins-Bold, sans-serif;
    --poppins-title2-bold-font-size: 16px;
    --poppins-title2-bold-line-height: 140%;
    --poppins-title2-bold-font-weight: 700;
    --poppins-title2-bold-font-style: normal;
    --poppins-body-font-family: Poppins-Regular, sans-serif;
    --poppins-body-font-size: 13px;
    --poppins-body-line-height: 140%;
    --poppins-body-font-weight: 400;
    --poppins-body-font-style: normal;
    --poppins-body-bold-font-family: Poppins-Bold, sans-serif;
    --poppins-body-bold-font-size: 13px;
    --poppins-body-bold-line-height: 140%;
    --poppins-body-bold-font-weight: 700;
    --poppins-body-bold-font-style: normal;
    --poppins-caption-font-family: Poppins-Regular, sans-serif;
    --poppins-caption-font-size: 11px;
    --poppins-caption-line-height: 140%;
    --poppins-caption-font-weight: 400;
    --poppins-caption-font-style: normal;
    --poppins-caption-bold-font-family: Poppins-Bold, sans-serif;
    --poppins-caption-bold-font-size: 11px;
    --poppins-caption-bold-line-height: 140%;
    --poppins-caption-bold-font-weight: 700;
    --poppins-caption-bold-font-style: normal;
    --other-opt-light-1-font-family: Inter-ExtraLight, sans-serif;
    --other-opt-light-1-font-size: 20px;
    --other-opt-light-1-line-height: 24px;
    --other-opt-light-1-font-weight: 200;
    --other-opt-light-1-font-style: normal;
    --other-opt-light-text-1-font-family: SfProText-Light, sans-serif;
    --other-opt-light-text-1-font-size: 25px;
    --other-opt-light-text-1-line-height: 24px;
    --other-opt-light-text-1-font-weight: 300;
    --other-opt-light-text-1-font-style: normal;
    --other-opt-h6-black-font-family: Poppins-Black, sans-serif;
    --other-opt-h6-black-font-size: 70px;
    --other-opt-h6-black-line-height: 140%;
    --other-opt-h6-black-font-weight: 900;
    --other-opt-h6-black-font-style: normal;
    --other-opt-h7-black-font-family: Poppins-Black, sans-serif;
    --other-opt-h7-black-font-size: 95px;
    --other-opt-h7-black-line-height: 30px;
    --other-opt-h7-black-font-weight: 900;
    --other-opt-h7-black-font-style: normal;
    --other-opt-header-ttile-font-family: Poppins-Black, sans-serif;
    --other-opt-header-ttile-font-size: 50px;
    --other-opt-header-ttile-line-height: 140%;
    --other-opt-header-ttile-font-weight: 900;
    --other-opt-header-ttile-font-style: normal;
    --times-new-roman-h1-bold-font-family: TimesNewRoman-Bold, sans-serif;
    --times-new-roman-h1-bold-font-size: 48px;
    --times-new-roman-h1-bold-line-height: 140%;
    --times-new-roman-h1-bold-font-weight: 700;
    --times-new-roman-h1-bold-font-style: normal;
    --times-new-roman-h2-font-family: TimesNewRoman-Regular, sans-serif;
    --times-new-roman-h2-font-size: 40px;
    --times-new-roman-h2-line-height: 140%;
    --times-new-roman-h2-font-weight: 400;
    --times-new-roman-h2-font-style: normal;
    --times-new-roman-h2-bold-font-family: TimesNewRoman-Bold, sans-serif;
    --times-new-roman-h2-bold-font-size: 40px;
    --times-new-roman-h2-bold-line-height: 140%;
    --times-new-roman-h2-bold-font-weight: 700;
    --times-new-roman-h2-bold-font-style: normal;
    --times-new-roman-h3-font-family: TimesNewRoman-Regular, sans-serif;
    --times-new-roman-h3-font-size: 33px;
    --times-new-roman-h3-line-height: 140%;
    --times-new-roman-h3-font-weight: 400;
    --times-new-roman-h3-font-style: normal;
    --times-new-roman-h3-bold-font-family: TimesNewRoman-Bold, sans-serif;
    --times-new-roman-h3-bold-font-size: 33px;
    --times-new-roman-h3-bold-line-height: 140%;
    --times-new-roman-h3-bold-font-weight: 700;
    --times-new-roman-h3-bold-font-style: normal;
    --times-new-roman-h4-font-family: TimesNewRoman-Regular, sans-serif;
    --times-new-roman-h4-font-size: 28px;
    --times-new-roman-h4-line-height: 140%;
    --times-new-roman-h4-font-weight: 400;
    --times-new-roman-h4-font-style: normal;
    --times-new-roman-h4-bold-font-family: TimesNewRoman-Bold, sans-serif;
    --times-new-roman-h4-bold-font-size: 28px;
    --times-new-roman-h4-bold-line-height: 140%;
    --times-new-roman-h4-bold-font-weight: 700;
    --times-new-roman-h4-bold-font-style: normal;
    --times-new-roman-h5-font-family: TimesNewRoman-Regular, sans-serif;
    --times-new-roman-h5-font-size: 23px;
    --times-new-roman-h5-line-height: 140%;
    --times-new-roman-h5-font-weight: 400;
    --times-new-roman-h5-font-style: normal;
    --times-new-roman-h5-bold-font-family: TimesNewRoman-Bold, sans-serif;
    --times-new-roman-h5-bold-font-size: 23px;
    --times-new-roman-h5-bold-line-height: 140%;
    --times-new-roman-h5-bold-font-weight: 700;
    --times-new-roman-h5-bold-font-style: normal;
    --times-new-roman-title1-font-family: TimesNewRoman-Regular, sans-serif;
    --times-new-roman-title1-font-size: 19px;
    --times-new-roman-title1-line-height: 140%;
    --times-new-roman-title1-font-weight: 400;
    --times-new-roman-title1-font-style: normal;
    --times-new-roman-title1-bold-font-family: TimesNewRoman-Bold, sans-serif;
    --times-new-roman-title1-bold-font-size: 19px;
    --times-new-roman-title1-bold-line-height: 140%;
    --times-new-roman-title1-bold-font-weight: 700;
    --times-new-roman-title1-bold-font-style: normal;
    --times-new-roman-title2-font-family: TimesNewRoman-Regular, sans-serif;
    --times-new-roman-title2-font-size: 16px;
    --times-new-roman-title2-line-height: 140%;
    --times-new-roman-title2-font-weight: 400;
    --times-new-roman-title2-font-style: normal;
    --times-new-roman-title2-bold-font-family: TimesNewRoman-Bold, sans-serif;
    --times-new-roman-title2-bold-font-size: 16px;
    --times-new-roman-title2-bold-line-height: 140%;
    --times-new-roman-title2-bold-font-weight: 700;
    --times-new-roman-title2-bold-font-style: normal;
    --times-new-roman-body-font-family: TimesNewRoman-Regular, sans-serif;
    --times-new-roman-body-font-size: 13px;
    --times-new-roman-body-line-height: 140%;
    --times-new-roman-body-font-weight: 400;
    --times-new-roman-body-font-style: normal;
    --times-new-roman-body-bold-font-family: TimesNewRoman-Bold, sans-serif;
    --times-new-roman-body-bold-font-size: 13px;
    --times-new-roman-body-bold-line-height: 140%;
    --times-new-roman-body-bold-font-weight: 700;
    --times-new-roman-body-bold-font-style: normal;
    --times-new-roman-caption-font-family: TimesNewRoman-Regular, sans-serif;
    --times-new-roman-caption-font-size: 11px;
    --times-new-roman-caption-line-height: 140%;
    --times-new-roman-caption-font-weight: 400;
    --times-new-roman-caption-font-style: normal;
    --times-new-roman-caption-bold-font-family: TimesNewRoman-Bold, sans-serif;
    --times-new-roman-caption-bold-font-size: 11px;
    --times-new-roman-caption-bold-line-height: 140%;
    --times-new-roman-caption-bold-font-weight: 700;
    --times-new-roman-caption-bold-font-style: normal;
    --times-new-roman-h1-font-family: TimesNewRoman-Regular, sans-serif;
    --times-new-roman-h1-font-size: 48px;
    --times-new-roman-h1-line-height: 140%;
    --times-new-roman-h1-font-weight: 400;
    --times-new-roman-h1-font-style: normal;

    /* Effects */
}
